In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

from basketball import get_column_correlation, normed_error, march_madness, basketball_team

bbData = pd.read_csv("cbb20.csv")

In [2]:
bbDataCleaned = bbData.drop(['RK', 'WAB'], axis = 1)

In [3]:
basketball = basketball_team(bbDataCleaned)

In [4]:
basketball

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T
0,Kansas,B12,30,28,116.1,87.7,0.9616,53.7,43.7,18.7,18.6,32.6,26.4,35.8,23.2,54.9,42.4,34.1,30.5,67.4
1,Baylor,B12,30,26,114.5,88.4,0.9513,49.4,45.2,17.8,22.7,35.8,29.8,30.8,30.8,47.5,44.4,35.1,31.1,66.2
2,Gonzaga,WCC,33,31,121.3,94.3,0.9472,57.5,47.6,15.3,18.4,33.6,22.7,38.8,21.8,57.4,47.4,38.6,32.0,72.0
3,Dayton,A10,31,29,119.5,93.4,0.9445,59.7,46.6,18.0,18.8,26.4,26.6,33.9,30.9,62.3,45.1,37.1,33.0,67.5
4,Michigan St.,B10,31,22,114.8,91.3,0.9326,52.6,43.3,18.1,15.8,32.8,26.0,30.8,29.3,52.9,43.4,34.8,28.7,69.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,Arkansas Pine Bluff,SWAC,29,4,80.1,104.3,0.0461,43.1,48.9,26.2,20.6,27.1,30.7,37.4,46.3,44.6,50.2,26.3,31.1,66.1
349,Maryland Eastern Shore,MEAC,31,5,82.1,108.0,0.0411,40.5,51.0,21.1,20.4,26.2,31.0,25.7,36.6,42.5,51.3,25.0,33.7,67.7
350,Mississippi Valley St.,SWAC,30,4,89.2,119.0,0.0350,43.0,54.0,18.2,17.6,23.5,35.9,22.9,36.1,42.2,55.5,29.4,34.1,77.4
351,Kennesaw St.,ASun,29,1,82.2,112.2,0.0269,39.3,55.3,21.7,18.5,25.8,31.2,32.5,30.4,40.2,55.0,24.8,37.1,68.2
352,Chicago St.,WAC,26,4,85.6,120.4,0.0194,45.5,57.5,26.5,16.0,20.6,32.0,42.2,42.5,45.4,55.3,30.4,40.6,69.2

In [5]:
get_column_correlation(basketball, ["BARTHAG","W","ADJOE","ADJDE"])

The correlation between BARTHAG and W is 0.76.
The correlation between BARTHAG and ADJOE is 0.86.
The correlation between BARTHAG and ADJDE is -0.84.
The correlation between W and ADJOE is 0.7.
The correlation between W and ADJDE is -0.64.
The correlation between ADJOE and ADJDE is -0.49.

In [6]:
basketball.iloc[1]["BARTHAG"]

0.9513

In [7]:
basketball.shape

(353, 20)

In [8]:
basketball.iloc[1]

TEAM       Baylor
CONF          B12
G              30
W              26
ADJOE       114.5
ADJDE        88.4
BARTHAG    0.9513
EFG_O        49.4
EFG_D        45.2
TOR          17.8
TORD         22.7
ORB          35.8
DRB          29.8
FTR          30.8
FTRD         30.8
2P_O         47.5
2P_D         44.4
3P_O         35.1
3P_D         31.1
ADJ_T        66.2
Name: 1, dtype: object

In [9]:
col = list(basketball.columns[2:])
col.remove("BARTHAG")
print(col)

['G', 'W', 'ADJOE', 'ADJDE', 'EFG_O', 'EFG_D', 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D', 'ADJ_T']

In [10]:
avg=basketball.obtain_average_team()

In [11]:
avg["G"]

30.186968838526912

In [12]:
basketball.head()

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T
0,Kansas,B12,30,28,116.1,87.7,0.9616,53.7,43.7,18.7,18.6,32.6,26.4,35.8,23.2,54.9,42.4,34.1,30.5,67.4
1,Baylor,B12,30,26,114.5,88.4,0.9513,49.4,45.2,17.8,22.7,35.8,29.8,30.8,30.8,47.5,44.4,35.1,31.1,66.2
2,Gonzaga,WCC,33,31,121.3,94.3,0.9472,57.5,47.6,15.3,18.4,33.6,22.7,38.8,21.8,57.4,47.4,38.6,32.0,72.0
3,Dayton,A10,31,29,119.5,93.4,0.9445,59.7,46.6,18.0,18.8,26.4,26.6,33.9,30.9,62.3,45.1,37.1,33.0,67.5
4,Michigan St.,B10,31,22,114.8,91.3,0.9326,52.6,43.3,18.1,15.8,32.8,26.0,30.8,29.3,52.9,43.4,34.8,28.7,69.3

In [13]:
get_column_correlation(basketball, ["BARTHAG","W","ADJOE","ADJDE"])

The correlation between BARTHAG and W is 0.76.
The correlation between BARTHAG and ADJOE is 0.86.
The correlation between BARTHAG and ADJDE is -0.84.
The correlation between W and ADJOE is 0.7.
The correlation between W and ADJDE is -0.64.
The correlation between ADJOE and ADJDE is -0.49.

In [14]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
train_X = basketball[["W","ADJOE","ADJDE"]]
train_y = basketball["BARTHAG"]
lr.fit(train_X, train_y)
train_score = lr.score(train_X, train_y)
print('train score:', train_score)

train score: 0.9745098845573505

In [15]:
print('Intercept: ', lr.intercept_)  
print('Coefficients array: ', lr.coef_)

Intercept:  0.49166577337201073
Coefficients array:  [-0.00075111  0.02208506 -0.02190635]

In [16]:
# using another data set for test set
basketball_test=pd.read_csv("cbb.csv")

In [17]:
test_X = basketball_test[["W","ADJOE","ADJDE"]]
test_y = basketball_test[["BARTHAG"]]
print(test_X)
print(test_y)
basketball_test

       W  ADJOE  ADJDE
0     33  123.3   94.9
1     36  129.1   93.6
2     33  114.4   90.4
3     31  115.2   85.2
4     37  117.8   86.3
...   ..    ...    ...
2450  26  111.4   87.8
2451  27  114.4   92.2
2452  28  104.8   88.6
2453  24  112.0   96.2
2454  24  103.4   96.3

[2455 rows x 3 columns]
      BARTHAG
0      0.9531
1      0.9758
2      0.9375
3      0.9696
4      0.9728
...       ...
2450   0.9392
2451   0.9229
2452   0.8728
2453   0.8516
2454   0.6952

[2455 rows x 1 columns]

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,Michigan St.,B10,35,26,111.4,87.8,0.9392,50.6,44.5,20.8,...,32.4,50.4,44.3,34.1,30.1,64.4,6.7,S16,3.0,2013
2451,Arizona,P12,35,27,114.4,92.2,0.9229,52.5,46.6,19.5,...,32.9,50.6,43.4,37.1,35.8,66.8,4.6,S16,6.0,2013
2452,Oregon,P12,37,28,104.8,88.6,0.8728,49.3,46.4,21.4,...,33.3,49.1,44.9,33.3,33.4,69.2,2.9,S16,12.0,2013
2453,La Salle,A10,34,24,112.0,96.2,0.8516,51.9,49.3,17.1,...,28.5,49.3,50.6,37.7,30.2,66.0,0.3,S16,13.0,2013
2454,Florida Gulf Coast,ASun,35,24,103.4,96.3,0.6952,51.6,46.9,21.0,...,32.7,52.3,46.9,33.4,31.3,69.1,-4.0,S16,15.0,2013

In [18]:
train_score = lr.score(train_X, train_y) 
test_score = lr.score(test_X, test_y)

print('test score:', test_score)
print(train_score)

test score: 0.9704174439150445
0.9745098845573505

In [19]:
trainedIndex = lr.predict(train_X)
newIndex = trainedIndex + abs(trainedIndex[-1])*2 # creats array with newly created nonzero and positive index

basketball["newIndex"] = newIndex # add array to team
basketball = basketball.sort_values(by = ["newIndex"], ascending=False) # sort basketball by newIndex

In [45]:
march_madness(basketball)

Final Four Teams: West Virginia, Dayton, San Diego St., Michigan


The winner of March Madness is:
-------------------
Michigan!!!
-------------------